@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

html *,
html ::after,
html ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-main {
  flex-grow: 1;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* main-header */

.main-header {
  color: #000000;
  background-color: #FFFFFF;
  padding: 0 70px;
  max-height: 65px;
  z-index: 1;

  display: flex;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
  z-index: 1;
  margin-right: 47px;
}

.navigation {
  display: flex;
  align-items: center;
  width: calc(100% - 139px);
  justify-content: space-between;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
}

.navigation-item+.navigation-item {
  margin-left: 34px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  padding: 20px 0;
  padding-bottom: 18px;
}

.navigation-link-active {
  border-bottom: 2px solid #756257;
}

.navigation-link-search {
  width: 18px;
  height: 18px;
  display: flex;
  background: url(../images/icons/search.svg) center center / contain no-repeat;
}

.navigation-link-favorites {
  width: 18px;
  height: 17px;
  display: flex;
  background: url(../images/icons/favorite.svg) center center / contain no-repeat;
  position: relative;
}

.favorites-counter {
  position: absolute;
  top: -7px;
  right: -15px;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  letter-spacing: -0.1em;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-user .navigation-item-button {
  margin-left: 32px;
}

.navigation-item-button .button {
  width: 160px;
  height: 37px;
  display: block;
}

.navigation-user .navigation-item-favorites {
  margin-left: 23px;
}


/* button */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button-second {
  background-color: #82B3D3;
}

.button-success {
  background-color: #7DB54F;
}

.button-reset {
  font-weight: 400;
  text-transform: none;
  background: none;
}

.button-light {
  background: #FFFFFF;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
}

/* hero */

.hero {
  text-align: center;
  background-color: #FFFFFF;
  margin-bottom: 90px;
}

.hero p:last-of-type {
  margin-bottom: 0;
}

.hero-welcome {
  background: url(../images/index-background.jpg) center center / cover no-repeat;
  width: 100%;
  max-width: 1200px;
  height: 485px;
  position: relative;
  margin-bottom: 63px;
  padding-top: 51px;
}

.hero-welcome:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url(../images/icons/divider.svg) center center / cover no-repeat;
}

.hero-text-big {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.hero-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 90px;
}

/* advantages */

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
}

.advantages-item {
  background-color: #82B3D3;
  color: #000000;

  display: flex;
  flex-basis: 100%;
  min-height: 384px;
}

.advantages-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 400px;
}

.advantages-item-small {
  flex-basis: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-number {
  color: #FFFFFF;
}

.advantages-description {
  color: #FFFFFF;
  max-width: 230px;
  text-align: center;
}

.advantages-img {
  display: block;
}

.advantages-item-small {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-small .advantages-title {
  color: #000000;
}

.advantages-item-small .advantages-number {
  color: #000000;
}

.advantages-item-small .advantages-description {
  color: #333333;
}

.advantages-item-food {
  background-color: #ffffff;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}


/* hotel-search */

.hotel-search {
  text-align: center;
  padding: 91px 0;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 56px;
}

.hotel-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 574px;
  margin: 0 auto;
  height: 60px;
}


/* subscription */

.subscription {
  background: url(../images/subscribe-bg.jpg) center center / cover no-repeat;
  width: 100%;
  max-width: 1200px;
  height: 411px;
  color: #ffffff;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription-inner {
  background: transparent;
  color: #000000;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 45px;
}

.subscription-form {
  display: flex;
}

.subscription-field {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 600px;
  height: 60px;
  outline: none;

  border: none;
  padding: 20px 22px;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
}

.subscription-field::placeholder {
  opacity: 0.6;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 200px;
  height: 60px;
  border-radius: 0 10px 10px 0;
}


/* main-footer */

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;

  height: 120px;
  padding: 0 70px;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  flex-basis: 142px;
}

.social-link {
  width: 47px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative
}

.social-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-link-vk:after {
  background: url(../images/icons/social-vk.svg) center center / contain no-repeat;
  width: 24px;
  height: 14px;
}

.social-link-tel:after {
  background: url(../images/icons/social-tel.svg) center center / contain no-repeat;
  width: 18px;
  height: 16px;
}

.social-link-yt:after {
  background: url(../images/icons/social-yt.svg) center center / contain no-repeat;
  width: 22px;
  height: 17px;
}

.contacts-phone {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

/* catalog */

.inner-header {
  background: url(../images/filter-bg.jpg) center center / cover no-repeat;
  max-width: 1200px;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
  min-height: 403px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 10px;
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:after {
  content: "";
  width: 8px;
  height: 8px;
  background: url(../images/icons/arrow-select.svg) center center / contain no-repeat;
  margin: 0 10px;
  transform: rotate(-90deg);
}

.breadcrumbs-item:last-of-type::after {
  display: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-main {
  width: 12px;
  height: 12px;
  display: flex;
  background: url(../images/icons/main.svg) center center / contain no-repeat;
}

/* catalog-filter */

.form-catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  flex-basis: 150px;
  padding: 0;
}

.catalog-filter-group+.catalog-filter-group {
  margin-left: 70px;
}

.catalog-filter-group.catalog-filter-button {
  margin-left: auto;
  text-align: center;
  align-self: flex-end;
}

.catalog-filter-button .button-reset {
  padding: 0;
}

.catalog-filter-button .button-second {
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item+.catalog-filter-item {
  margin-top: 15px;
}

/* catalog-products */

.catalog-products {
  padding: 50px 70px 25px 70px;
}

.product-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-sort {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.select-wrapp {
  position: relative;
  margin-left: auto;
  margin-right: 78px;
}

.select-wrapp:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 11px;
  right: 20px;
  top: 20px;
  background: url(../images/icons/arrow-select.svg) center center / contain no-repeat;
  filter: invert(100%);
}

.catalog-sort .select-control {
  -webkit-appearance: none;
  padding: 12px 20px;
  width: 290px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}





.catalog-sort .button-light {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;

  position: relative;
}

.catalog-sort .button-light-active {
  border-color: #000000;
}

.catalog-sort .button-light+.button-light {
  margin-left: 8px;
}

.catalog-sort .button-light:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 14px;
}

.catalog-sort-card:after {
  background: url(../images/icons/icon-table.png) center center / contain no-repeat;
}

.catalog-sort-full:after {
  background: url(../images/icons/icon-slideshow.png) center center / contain no-repeat;
}

.catalog-sort-list:after {
  background: url(../images/icons/icon-list.png) center center / contain no-repeat;
}


/* product-list */

.product-list {
  list-style: none;
  padding: 0;
  padding-bottom: 65px;
  margin: 0;
  margin-bottom: 30px;

  display: flex;
  flex-flow: row wrap;
  gap: 0 20px;
  border-bottom: 1px solid #E6E6E6;
}

.product-card {
  flex-basis: 340px;
  padding: 20px;
  box-sizing: border-box;
}

.product-card-link {
  text-decoration: none;
}

.product-card-image {
  margin-bottom: 16px;
}

.product-card-inner-block+.product-card-inner-block {
  margin-top: 16px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.product-card-description {
  margin: 0;
  display: flex;
}

.product-card-type {
  color: #333333;
  width: 50%;
  margin-right: 20px;
}

.product-card-price {
  color: #333333;
  width: 50%;
}

.product-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.product-card-button {
  width: 140px;
  height: 37px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* rating-stars */

.rating-stars {
  list-style: none;
  padding: 0;

  display: flex;
  align-items: center;
}

.rating-stars .star+.star {
  margin-left: 6px;
}

.star {
  width: 18px;
  height: 17px;
  display: flex;
  background: url(../images/icons/star.svg) center center / contain no-repeat;
}

.rating-text {
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.catalog-products-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* pagination */

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
}

.pagination-item+.pagination-item {
  margin-left: 8px;
}

.pagination-link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  box-sizing: border-box;
}

.pagination-current {
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  color: #000000;
}

.product-sort {
  position: relative;
}

.product-sort-text {
  color: #333333;
  margin-right: 50px;
}

.product-sort .select-control {
  width: 160px;
  height: 49px;
  -webkit-appearance: none;
  padding: 12px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-sort:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 11px;
  right: 20px;
  top: 20px;
  background: url(../images/icons/arrow-select.svg) center center / contain no-repeat;
  filter: invert(100%);
}