@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-main {
  flex-grow: 1;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* main-header */

.main-header {
  color: #000000;
  background-color: #FFFFFF;
  padding: 0 70px;

  display: flex;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
}

.navigation {
  display: flex;
  align-items: center;
  width: calc(100% - 139px);
  justify-content: space-between;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
}


/* button */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button-second {
  background-color: #82B3D3;
}

.button-success {
  background-color: #7DB54F;
}

.button-reset {
  font-weight: 400;
  text-transform: none;
  background: none;
}

.button-light {
  background: #FFFFFF;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
}

/* hero */

.hero {
  text-align: center;
  background-color: #FFFFFF;
}

.hero p:last-of-type {
  margin-bottom: 0;
}

.hero-welcome {
  background: url(../images/index-background.jpg) center center / cover no-repeat;
  width: 100%;
  max-width: 1200px;
  height: 485px;
  position: relative;
}



.hero-welcome:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url(../images/icons/divider.svg) center center / cover no-repeat;
}

.hero-text-big {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 620px;
  margin: 0 auto;
}

.hero-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* advantages */

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
}

.advantages-item {
  background-color: #82B3D3;
  color: #000000;

  display: flex;
  flex-basis: 100%;
  min-height: 384px;
}

.advantages-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 400px;
}

.advantages-item-small {
  flex-basis: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-number {
  color: #FFFFFF;
}

.advantages-description {
  color: #FFFFFF;
  max-width: 230px;
  text-align: center;
}

.advantages-img {
  display: block;
}

.advantages-item-small {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-small .advantages-title {
  color: #000000;
}

.advantages-item-small .advantages-number {
  color: #000000;
}

.advantages-item-small .advantages-description {
  color: #333333;
}

.advantages-item-food {
  background-color: #ffffff;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}


/* hotel-search */

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotel-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}


/* subscription */

.subscription {
  background: url(../images/subscribe-bg.jpg) center center / cover no-repeat;
  width: 100%;
  max-width: 1200px;
  height: 411px;
  color: #ffffff;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
}

.subscription-field {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.subscription-field::placeholder {
  opacity: 0.6;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}


/* main-footer */

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;

  height: 120px;
  padding: 0 70px;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
}

.social-link {
  width: 47px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative
}

.social-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-link-vk:after {
  background: url(../images/icons/social-vk.svg) center center / contain no-repeat;
  width: 24px;
  height: 14px;
}

.social-link-tel:after {
  background: url(../images/icons/social-tel.svg) center center / contain no-repeat;
  width: 18px;
  height: 16px;
}

.social-link-yt:after {
  background: url(../images/icons/social-yt.svg) center center / contain no-repeat;
  width: 22px;
  height: 17px;
}

.contacts-phone {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

/* catalog */

.inner-header {
  background: url(../images/filter-bg.jpg) center center / cover no-repeat;
  width: 100%;
  max-width: 1200px;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-main {
  width: 12px;
  height: 12px;
  display: flex;
  background: url(../images/icons/main.svg) center center / contain no-repeat;
}

/* catalog-filter */

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* catalog-products */

.product-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-sort .button-light {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;

  position: relative;
}

.catalog-sort .button-light:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 14px;
}

.catalog-sort-card:after {
  background: url(../images/icons/icon-table.png) center center / contain no-repeat;
}

.catalog-sort-full:after {
  background: url(../images/icons/icon-slideshow.png) center center / contain no-repeat;
}

.catalog-sort-list:after {
  background: url(../images/icons/icon-list.png) center center / contain no-repeat;
}


/* product-list */

.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-type {
  color: #333333;
}

.product-card-price {
  color: #333333;
}

/* rating-stars */

.rating-stars {
  list-style: none;
  padding: 0;
}

.star {
  width: 18px;
  height: 17px;
  display: flex;
  background: url(../images/icons/star.svg) center center / contain no-repeat;
}

.rating-text {
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}


/* pagination */

.pagination {
  list-style: none;
  padding: 0;
}

.pagination-link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  box-sizing: border-box;
}

.pagination-current {
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  color: #000000;
  ;
}

.product-sort-text {
  color: #333333;
}