@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

html *,
html ::after,
html ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-main {
  flex-grow: 1;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* main-header */

.main-header {
  color: #000000;
  background-color: #FFFFFF;
  padding: 0 70px;

  display: flex;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
  z-index: 1;
  margin-right: 47px;
  align-self: flex-start;
}

.navigation {
  display: flex;
  align-items: center;
  width: calc(100% - 139px);
  justify-content: space-between;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 520px;
  flex-flow: wrap;

  display: flex;
  gap: 34px;
  align-items: center;
}

.navigation-item {
  z-index: 2;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 16px 0;
  padding-bottom: 18px;
  transition: all 0.3s;
  display: flex;
}

.navigation-link:hover:not(.button) {
  opacity: 0.5;
}

.navigation-link:focus {
  outline: 2px solid #82B3D3;
}

.navigation-link-active {
  border-bottom: 2px solid #756257;
}

.navigation-list.navigation-user {
  gap: 0;
}

.navigation-link-search {
  width: 18px;
  height: 18px;
  min-height: 65px;
  display: flex;
  background: url("../images/icons/search.svg") center center / contain no-repeat;
}

.navigation-link-favorites {
  width: 18px;
  height: 17px;
  min-height: 65px;
  display: flex;
  background: url("../images/icons/favorite.svg") center center / contain no-repeat;
  position: relative;
}

.favorites-counter {
  position: absolute;
  top: 15px;
  right: -16px;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  letter-spacing: -0.1em;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-item-button .button {
  width: 160px;
  display: block;
}

.navigation-user .navigation-item-search {
  margin-right: 23px;
}

.navigation-user .navigation-item-favorites {
  margin-right: 34px;
}


/* button */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  transition: all 0.3s;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  opacity: 0.3;
}

.button:disabled {
  background: #E5E5E5;
}

.button-second {
  background-color: #82B3D3;
}

.button-second:hover,
.button-second:focus {
  background: #68A2CA;
}

.button-second:active {
  background: #82B3D3;
}

.button-success {
  background-color: #7DB54F;
}

.button-success:hover,
.button-success:focus {
  background: #6C9E42;
}

.button-success:active {
  background: #7DB54F;
}

.button-reset {
  font-weight: 400;
  text-transform: none;
  background: none;
}

.button-reset:hover,
.button-reset:focus {
  font-weight: 400;
  text-transform: none;
  background: none;
  opacity: 0.6;
}

.button-reset:active {
  opacity: 0.3;
}


.button-light {
  background: #FFFFFF;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
}

.button-light:hover,
.button-light:active {
  border-color: #000000;
  background: #FFFFFF;
}

.button-light:focus {
  border-color: #68A2CA;
}

/* hero */

.hero {
  text-align: center;
  background-color: #FFFFFF;
  margin-bottom: 90px;
  margin-top: -5px;
}

.hero p:last-of-type {
  margin-bottom: 0;
}

.hero-welcome {
  background: url("../images/index-background.jpg") center center / cover no-repeat, #000000;
  width: 100%;
  max-width: 1200px;
  height: 485px;
  position: relative;
  margin-bottom: 63px;
  padding-top: 56px;
}

.hero-welcome:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url("../images/icons/divider.svg") center center / cover no-repeat;
}

.hero-text-big {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 31px;
  text-transform: uppercase;
}

.hero-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 90px;
  padding: 0 40px;
}

/* advantages */

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
}

.advantages-item {
  background-color: #82B3D3;
  color: #000000;

  display: flex;
  flex-basis: 100%;
  min-height: 384px;
}

.advantages-item:not(.advantages-item-full) {
  padding: 79px;
}

.advantages-item.advantages-item-not-image {
  padding: 98px 70px;
}

.advantages-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 400px;
  padding: 93px 85px;
}

.advantages-item-small {
  flex-basis: 400px;
  flex-direction: column;
  align-items: center;
  

  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}


.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  max-width: 180px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-title-img::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-title-house::before {
  background: url("../images/advantages/house.svg") center center / contain no-repeat;
}

.advantages-title-food::before {
  background: url("../images/advantages/food.svg") center center / contain no-repeat;
}

.advantages-title-souvenirs::before {
  background: url("../images/advantages/souvenir.svg") center center / contain no-repeat;
}

.advantages-number {
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

.advantages-img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.advantages-item-small .advantages-title {
  color: #000000;
}

.advantages-item-small .advantages-number {
  color: #000000;
}

.advantages-item-small .advantages-description {
  color: #333333;
}

.advantages-item-food {
  background-color: #ffffff;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}


/* hotel-search */

.hotel-search {
  text-align: center;
  padding: 86px 40px;
  padding-bottom: 92px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 670px;
}

.hotel-button {
  font-size: 21px;
  line-height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 574px;
  margin: 0 auto;
  padding: 12px 15px;
}


/* subscription */

.subscription {
  background: url("../images/subscribe-bg.jpg") center center / cover no-repeat, #000000;
  width: 100%;
  max-width: 1200px;
  min-height: 411px;
  color: #ffffff;
  text-align: center;
  padding: 93px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-inner {
  background: transparent;
  color: #000000;
  padding: 82px 0;
  min-height: 398px;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 45px;

}

.subscription-form {
  display: flex;
  border: 2px solid transparent;
}

.subscription-form:focus-within {
  border: 2px solid #83B3D3;
  border-radius: 10px;
}

.subscription-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 600px;
  height: 60px;
  outline: none;

  border: none;
  padding: 20px 22px;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  transition: all 0.3s;
}

.subscription-field::placeholder {
  opacity: 0.6;
}

.subscription-field:focus {
  background-color: #d0d7e3;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 200px;
  height: 60px;
  border-radius: 0 10px 10px 0;
}


/* main-footer */

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;

  padding: 0 70px;
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  flex-basis: 142px;
  max-width: 142px;
  flex-flow: wrap;
}

.social-link {
  width: 47px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative
}

.social-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.social-link:hover::after,
.social-link:focus::after {
  filter: invert(60%) sepia(25%) saturate(678%) hue-rotate(162deg) brightness(97%) contrast(91%);
}

.social-link:active::after {
  opacity: 0.3;
}

.social-link-vk:after {
  background: url("../images/icons/social-vk.svg") center center / contain no-repeat;
  width: 24px;
  height: 14px;
}

.social-link-tel:after {
  background: url("../images/icons/social-tel.svg") center center / contain no-repeat;
  width: 18px;
  height: 16px;
}

.social-link-yt:after {
  background: url("../images/icons/social-yt.svg") center center / contain no-repeat;
  width: 22px;
  height: 17px;
}

.contacts {
  max-width: 335px;
}

.contacts-phone {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  transition: color 0.3s;
  white-space: nowrap;
  display: block;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  transition: all 0.3s;
}

.footer-logo:hover,
.footer-logo:focus {
  filter: invert(38%) sepia(19%) saturate(448%) hue-rotate(335deg) brightness(96%) contrast(87%);
}

.footer-logo:active {
  filter: invert(38%) sepia(19%) saturate(448%) hue-rotate(335deg) brightness(96%) contrast(87%);
  opacity: 0.3;
}

/* catalog */

.inner-header {
  background: url("../images/filter-bg.jpg") center center / cover no-repeat, #000000;
  max-width: 1200px;
  color: #ffffff;
  margin-top: -5px;
  padding: 35px 70px 60px 70px;
  min-height: 403px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 10px;
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:after {
  content: "";
  width: 8px;
  height: 8px;
  background: url("../images/icons/arrow-select.svg") center center / contain no-repeat;
  margin: 0 10px;
  transform: rotate(-90deg);
}

.breadcrumbs-item:last-of-type::after {
  display: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  transition: all 0.3s;
}

.breadcrumbs-link-main {
  width: 12px;
  height: 12px;
  display: flex;
  background: url("../images/icons/main.svg") center center / contain no-repeat;
}

a.breadcrumbs-link:hover {
  opacity: 0.6;
}

a.breadcrumbs-link:active {
  opacity: 0.3;
}

/* catalog-filter */

.control {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control:focus-within .control-mark {
  border: 3px solid #83B3D3;
}

.control-mark {
  position: relative;
  margin-right: 19px;
  transition: all 0.3s;
}

.control:hover>.control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control:focus>.control-mark {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
}

.control:active>.control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-mark {
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control-mark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background: url("../images/icons/tick.svg") center center / contain no-repeat;
  width: 12px;
  height: 9px;
  opacity: 0;
  transition: opacity 0.3s;
}

.control-input[type="checkbox"]:checked+.control-mark::after,
.control-input[type="radio"]:checked+.control-mark::after {
  opacity: 1;
}

.control-radio .control-mark {
  border-radius: 50%;
}

.control-radio .control-mark:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3F5E72;
}

.form-catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  flex-basis: 150px;
  padding: 0;
  margin: 0;
}

.catalog-filter-group+.catalog-filter-group {
  margin-left: 70px;
}

.catalog-filter-group.catalog-filter-button {
  text-align: center;
  margin-top: 60px;
}

.catalog-filter-button .button-reset {
  padding: 0;
}

.catalog-filter-button .button-second {
  width: 160px;
  padding: 14px 15px;
  margin-bottom: 20px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item+.catalog-filter-item {
  margin-top: 15px;
}

/* catalog-products */

.catalog-products {
  padding: 55px 70px 25px 70px;
}

.product-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  transition: all 0.3s;
  border: 2px solid #E5E5E5;
  font-family: inherit;
  background-color: #ffffff;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
}

.select-control:active {
  border-color: #3F5E72;
}

.catalog-sort {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.select-wrapp {
  position: relative;
  margin-left: auto;
  margin-right: 78px;
}

.select-wrapp:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 11px;
  right: 20px;
  top: 20px;
  background: url("../images/icons/arrow-select.svg") center center / contain no-repeat;
  filter: invert(100%);
}

.catalog-sort .select-control {
  -webkit-appearance: none;
  padding: 12px 20px;
  width: 290px;
  height: 49px;
  border-radius: 4px;
}

.catalog-sort .button-light {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;

  position: relative;
}

.catalog-sort .button-light-active {
  border-color: #000000;
}

.catalog-sort .button-light+.button-light {
  margin-left: 8px;
}

.catalog-sort .button-light:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 14px;
}

.catalog-sort-card:after {
  background: url("../images/icons/icon-table.svg") center center / contain no-repeat;
}

.catalog-sort-full:after {
  background: url("../images/icons/icon-slideshow.svg") center center / contain no-repeat;
}

.catalog-sort-list:after {
  background: url("../images/icons/icon-list.svg") center center / contain no-repeat;
}

/* Range */

.catalog-filter-group.catalog-filter-group-range {
  margin-left: auto;
}

.catalog-filter-group-range .catalog-filter-title {
  margin-bottom: 33px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 0;
  width: 227px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 3px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.range-toggle:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 3px solid #83B3D3;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
}



.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -8px;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  width: 287px;
  height: 48px;
  margin-bottom: 30px;
}

.catalog-filter-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  color: rgba(255, 255, 255, 0.3);
  padding-right: 17px;
  transition: all 0.3s;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
  position: relative;
  z-index: 1;
}

.catalog-filter-label+.catalog-filter-label {
  border-radius: 0 4px 4px 0;
  border-left: 1px;
}

.catalog-filter-label:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:focus-within .range-input {
  border: 2px solid #83B3D3;
}

.range-input:focus {
  background: #756257;
}

.range-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 14px 19px;
  padding-right: 40px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  box-shadow: none;
  appearance: textfield;
  outline: none;
  color: #FFFFFF;
  z-index: -1;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


/* product-list */

.product-list {
  list-style: none;
  padding: 0;
  padding-bottom: 65px;
  margin: 0;
  margin-bottom: 16px;

  display: flex;
  flex-flow: row wrap;
  gap: 0 20px;
  border-bottom: 1px solid #E6E6E6;
}

.product-card {
  flex-basis: 340px;
  padding: 20px;
  box-sizing: border-box;
}

.product-card-link {
  text-decoration: none;
}

.product-card-image {
  margin-bottom: 13px;
}

.product-card-inner-block+.product-card-inner-block {
  margin-top: 16px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.product-card-description {
  margin: 0;
  display: flex;
}

.product-card-type {
  color: #333333;
  width: 50%;
  margin-right: 20px;
}

.product-card-price {
  color: #333333;
  width: 50%;
}

.product-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.product-card-button {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* rating-stars */

.rating-stars {
  list-style: none;
  padding: 0;

  display: flex;
  align-items: center;
}

.rating-stars .star+.star {
  margin-left: 6px;
}

.star {
  width: 18px;
  height: 17px;
  display: flex;
  background: url("../images/icons/star.svg") center center / contain no-repeat;
}

.rating-text {
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.catalog-products-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* pagination */

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 400px;
  flex-flow: wrap;
  gap: 8px;

  display: flex;
  align-items: center;
}


.pagination-link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.pagination-link:hover,
.pagination-link:focus {
  background: #68A2CA;
}

.pagination-link:active {
  background: #82B3D3;
  opacity: 0.3;
}

.pagination-current {
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  color: #000000;
}

.product-sort {
  position: relative;
  display: flex;
  align-items: center;
}

.product-sort-text {
  color: #333333;
  margin-right: 50px;
  max-width: 175px;
}

.product-sort .select-control {

  width: 160px;
  height: 49px;
  -webkit-appearance: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.product-sort:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 11px;
  right: 20px;
  top: 50%;
  background: url("../images/icons/arrow-select.svg") center center / contain no-repeat;
  filter: invert(100%);
  transform: translateY(-50%);
}

/* modal */

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  padding: 70px;
  padding-top: 55px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  width: 715px;
  border-radius: 30px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

.modal-close-button {
  position: relative;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: 3px solid #F2F2F2;
  border-radius: 50%;
  transition: all 0.3s;
}

.modal-close-button:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/icons/modal-close.svg") center center / contain no-repeat;
  width: 13px;
  height: 13px;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
  border-color: #E6E6E6;
}

.modal-close-button:focus {
  border-color: #83B3D3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 415px;
}

.search-form-label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.search-form-label-end {
  justify-content: flex-end;
}

.search-form-label-date:after {
  position: absolute;
  cursor: pointer;
  content: "";
  background: url("../images/icons/date.svg") center center / contain no-repeat;
  right: 19px;
  top: 20px;
  width: 15px;
  height: 15px;
}

.search-form-field {
  width: 100%;
  height: 50px;
  max-width: 420px;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 0 20px;
  padding-right: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 3px solid #F2F2F2;
  transition: all 0.3s;
  margin-bottom: 10px;
  font-family: inherit;
}

input.search-form-field::placeholder {
  color: #000000;
  opacity: 0.6;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.search-form-field:hover:not(.field-group-count .search-form-field) {
  background: #E6E6E6;
  border-color: #E6E6E6;
}

.search-form-field:focus:not(.field-group-count .search-form-field) {
  border-color: #83B3D3;
}

.search-form-field:active:not(.field-group-count .search-form-field) {
  border-color: #83B3D3;
}

.search-form-subtext {
  margin: 0;
  max-width: 420px;
  margin-left: auto;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
}

.search-form-error {
  color: #FF5757;
}

.field-group+.field-group {
  margin-top: 11px;
}

.field-group-line {
  display: flex;
  gap: 0 42px;
}

.field-group-count {
  margin-left: 64px;
  display: flex;
  align-items: center;
  width: 133px;
}

.field-group-count-info {
  margin-left: 49px
}

.field-group-count .search-form-field {
  text-align: center;
  height: 50px;
  padding: 0 5px;
  border-radius: 0;
  margin-bottom: 0
}

.search-form-info {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 69px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #83B3D3;
  z-index: 3;
}

.search-form-info:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 9px;
  background: url("../images/icons/info.svg") center center / contain no-repeat;
}

.search-form-info-content {
  opacity: 0;
  pointer-events: none;
  width: 256px;
  position: absolute;
  top: 25px;
  left: -115px;
  z-index: 3;
  padding: 15px 22px;
  padding-bottom: 18px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  transition: all 0.3s;
}

.search-form-info:hover .search-form-info-content {
  opacity: 1;
  pointer-events: all;
}

.search-form-info-content::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-color: #333333;
  top: -9px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.button-count {
  height: 50px;
  padding: 0;
  border: none;
  width: 45px;
  min-width: 45px;
  position: relative;
  background: #F2F2F2;
  cursor: pointer;
  border: 3px solid transparent;
}

.button-count:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
}

.button-count:hover::after {
  filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(2deg) brightness(101%) contrast(107%);
}

.button-count:active::after {
  opacity: 0.2;
}

.button-count:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-count-minus {
  border-radius: 4px 0 0 4px;
}

.button-count-plus {
  border-radius: 0 4px 4px 0;
}

.button-count-minus:after {
  background: url("../images/icons/minus.svg") center center / contain no-repeat;
}

.button-count-plus:after {
  background: url("../images/icons/plus.svg") center center / contain no-repeat;
}

.search-form-button {
  width: 100%;
  min-height: 60px;
  border-radius: 10px;
  margin-top: 40px;
}