@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  visibility: hidden;
}


/* main-header */

.main-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-list {
  list-style: none;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
}


/* button */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button-second {
  background-color: #82B3D3;
}

.button-success {
  background-color: #7DB54F;
}

/* hero */

.hero-welcome {
  background: url(../images/index-background.jpg) center center / cover no-repeat;
  width: 100%;
  max-width: 1200px;
  height: 485px;
  position: relative;
}

.hero-welcome:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url(../images/icons/divider.svg) center center / cover no-repeat;
}

.hero-text-big {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hero-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* advantages */

.advantages-list {
  list-style: none;
  padding: 0;
}

.advantages-item {
  background-color: #82B3D3;
  color: #000000;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-number {
  color: #FFFFFF;
}

.advantages-description {
  color: #FFFFFF;
}

.advantages-img {
  display: block;
}

.advantages-item-small {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-small .advantages-title {
  color: #000000;
}

.advantages-item-small .advantages-number {
  color: #000000;
}

.advantages-item-small .advantages-description {
  color: #333333;
}

.advantages-item-food {
  background-color: #ffffff;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}


/* hotel-search */

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotel-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}


/* subscription */

.subscription {
  background: url(../images/subscribe-bg.jpg) center center / cover no-repeat;
  width: 100%;
  max-width: 1200px;
  height: 411px;
  color: #ffffff;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
}

.subscription-field {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.subscription-field::placeholder {
  opacity: 0.6;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}


/* main-footer */

.footer-social-list {
  list-style: none;
  padding: 0;
}

.social-link {
  width: 47px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative
}

.social-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-link-vk:after {
  background: url(../images/icons/social-vk.svg) center center / contain no-repeat;
  width: 24px;
  height: 14px;
}

.social-link-tel:after {
  background: url(../images/icons/social-tel.svg) center center / contain no-repeat;
  width: 18px;
  height: 16px;
}

.social-link-yt:after {
  background: url(../images/icons/social-yt.svg) center center / contain no-repeat;
  width: 22px;
  height: 17px;
}

.contacts-phone {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}